aiofiles==23.2.1
chainlit==0.7.700
chromadb
gTTS==2.4.0
langchain==0.0.352
matplotlib==3.5.1
networkx==3.2.1
openai==1.6.0
pdfplumber==0.10.3
Pillow==10.1.0
pygame==2.5.2
PyMuPDF==1.22.5
python-dotenv==1.0.0
Requests==2.31.0
tiktoken
youtube_transcript_api==0.6.1